/* medium device responsive */

@media screen and (min-width:768px) and (max-width:992px) {
    /* nav section style */

    .hide{
  display: block;
}
.menu{
    display: none;
}
/* banner section style */

.banner-section{
 flex-direction: column-reverse;
 padding: 0px 30px;
}
.banner-content{
  text-align: center;
  margin-top: 50px;
}
/* sponsors section style */
.sponsors-items{
    grid-template-columns: repeat(4, 1fr);
}




}



/* Mobile-Phone device responsive */

@media screen and (max-width:767px) {
    /* nav section style */

    .hide{
  display: block;
}
.menu{
    display: none;
}
/* banner section style */

.banner-section{
 flex-direction: column-reverse;
 padding: 0px 30px;
}
.banner-content{
  text-align: center;
  margin-top: 50px;
}
 /* sponsors section style */
.sponsors-items{
    grid-template-columns: repeat(4, 1fr);
} 





}